.App {
  text-align: center;
}
.message-box{
  width: fit-content;
  text-align: left;
  margin: 10px 30px;
  
}
.name-text{
  color: gray;
  font-size: 13px;
  margin: 0 10px 20px;
}
.input-block{
  position: fixed;
  bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px;
  z-index: 1;
}
.input-block input{
  border:none;
  outline:none;
  border-bottom: 1px solid gray;
  margin-right: 15px;
  width: 60%;
}
.isuser{
  margin-left: auto;
}
